.op-subway-bord ul, .op-subway-bord li, .op-subway-bord p {
    list-style: none;
    padding: 0;
    margin: 0;
}

.op-subway-bord {
    height: auto;
    border: 1px solid #666;
    width: 275px;
    font-size: 13px;
    line-height: 1.5;
}

.op-subway-main {
    height: 125px;
    padding: 0 10px;
    position: relative;
}

.op-subway-box {
    height: 25px;
    margin-top: 12px;
    margin-left: 15px;
    width: 275px;
}

.op-subway-line {
    cursor: pointer;
    list-style: none;
    width: 100px;
    height: 24px;
    color: #aaa;
    line-height: 24px;
    border: 1px solid #bdbdbd;
    float: left;
    position: relative;
}

.op-subway-line em {
    font-style: normal;
    font-size: 13px;
    color: #333;
    padding-left: 7px;
}

/*方块中的颜色*/
.op-subway-line em span {
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    left: 8px;
    top: 8px;
}

.op-subway-ul {
    background: #fff;
    z-index: 999;
    height: 188px;
    display: none;
    position: absolute;
    border: 1px solid #bbb;
    top: 24px;
    width: 100px;
    left: -1px;
    overflow-y: scroll;
}

.op-subway-ul li {
    cursor: pointer;
    background: #fff;
    width: 103px;
    height: 31px;
    list-style: none;
    line-height: 31px;
    color: #333;
    padding-left: 22px;
    position: relative;
    font-size: 13px;
}

/*下拉小方块*/
.op-subway-ul li span {
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    left: 8px;
    top: 11px;
}

.op-subway-jg {
    width: 20px;
    float: left;
    text-align: center;
    height: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #ccc;
}

.op-subway-station {
    cursor: pointer;
    width: 100px;
    height: 24px;
    line-height: 24px;
    color: #aaa;
    border: 1px solid #bdbdbd;
    float: left;
    position: relative;
    background: #f7f7f7;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
}

.op-subway-k {
    width: 25px;
    height: 24px;
    top: 0;
    position: absolute;
    right: 0;
    border-left: 1px solid #d9d9d9;
    background: url(http://imgbdb2.bendibao.com/images/icons.jpg) no-repeat center center;
}

.op-subway-station em {
    font-style: normal;
    font-size: 13px;
    padding: 0 5px;
}

/*选择车站下拉*/
.op-subway-ulk {
    z-index: 999;
    display: none;
    width: 200px;
    height: auto;
    position: absolute;
    top: 24px;
    left: -1px;
    border: 1px solid #bbb;
    background: #fff;
}

.op-subway-ulk li {
    cursor: pointer;
    background: #fff;
    list-style: none;
    width: 85px;
    height: 30px;
    float: left;
    line-height: 30px;
    padding-left: 12px;
    color: #333;
    font-size: 13px
}

.op-subway-box-end {
    clear: both;
}

/*按钮*/
.op-subway-calc-false {
    position: absolute;
    left: 10px;
    display: inline-block;
    cursor: pointer;
    color: #b8b8b8;
    background: #f5f5f5;
    border: 1px solid #d9d9d9;
    width: 82px;
    height: 26px;
    margin-top: 12px;
    margin-left: 39px;
    text-align: center;
    line-height: 26px;
    font-size: 13px;
}

/*改变之后的按钮*/
.op-subway-calc-fare {
    border: 0;
    position: absolute;
    left: 3px;
    cursor: pointer;
    width: 82px;
    height: 26px;
    background: #3188ff;
    margin-top: 12px;
    margin-left: 46px;
    text-align: center;
    line-height: 26px;
    color: #fff;
    font-size: 13px;
}

.op-subway-ts {
    font-size: 13px;
    position: absolute;
    left: 150px;
    bottom: 23px;
    display: none;
}

.op-subway-tab {
    margin-top: 54px;
    height: 28px;
    border-bottom: 1px solid #d9d9d9;
    background: #fafafa;
    display: none;
    width: 100%;
}

/*涨价后上面*/
.op-subway-on {
    list-style: none;
    border-right: 1px solid #dedede;
    border-left: 1px solid #dedede;
    border-top: 2px solid #2b99ff;
    color: #333;
    border-bottom: 1px solid #fff;
    background: #fff;
    z-index: 0;
    width: 90px;
}

.op-subway-li {
    border-left: 1px solid #fff;
    list-style: none;
    width: 180px;
    float: left;
    height: 26px;
    text-align: center;
    line-height: 28px;
    color: #666;
    font-size: 13px;
    background: #fafafa;
}

/*详情*/
.op-subway-footer {
    display: none;
    overflow: hidden;
    height: auto;
    padding-top: 12px;
    width: 100%;
    clear: both;
}

.op-subway-text {
    margin: 0 auto;
    clear: both;
    padding: 0 2.5%;
}

.op-subway-title {
    line-height: 16px;
    font-size: 13px;
    color: #666;
}

/*票价字体颜色   先不写*/
.op-subway-increase {
    color: #f50;
    font: inherit;
    font-weight: 700;
}

/*后期添加*/
.op-subway-one {
    background: #ce0000
}

.op-subway-two {
    background: #0063cf
}

.op-subway-four {
    background: #00cccd
}

.op-subway-five {
    background: #9b0067
}

.op-subway-six {
    background: #ec9a00
}

.op-subway-seven {
    background: #006731
}

.op-subway-eight {
    background: #accc00
}

.op-subway-nine {
    background: #0096ff
}

.op-subway-ten {
    background: #ffcd10
}

.op-subway-thirteen {
    background: #d49186
}

.op-subway-fourteen {
    background: #ff3600
}

.op-subway-batong, .op-subway-fifteen {
    background: #cf0000
}

.op-subway-changpi {
    background: #c60082
}

.op-subway-yizhuan {
    background: #ff3500
}

.op-subway-fangsan {
    background: #d7333b
}

.op-subway-jichang {
    background: #b798be
}
