/**
	作者：1028282161@qq.com[雪地伤孤：java工程师，现在主要以H5开发为主]
	时间：2015-04-04
	个人技术微信：zwb1028282161
	个人技术QQ:1028282161
	个人技术公众账号：zwb_h5c3（关注有更多的前后端技术资料以及源码）
	描述： 个人h5技术demo练习 
 */

.littleBoxes {
	width: 350px;
	height: 350px;
	margin: 0 auto;
	position: relative;
}
.littleBoxes > div {
	position: absolute;
	width: 90px;
	height: 90px;
	text-align: center;
	border: 2px solid white;
	overflow: hidden;
	background-color: #f7f7f7;
	-moz-box-shadow: 0px 0px 3px #555;
	-webkit-box-shadow: 0px 0px 3px #555;
	box-shadow: 0px 0px 3px #555;
	background-position: center center;
	z-index: 999;
}
.littleBoxes div a {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -1px;
	display: block;
	line-height: 90px;
	text-decoration: none;
	color: #fff;
	background: #91EF4A url(../../img/BoxesGradientAnimationMenu/bgItem.png) repeat-x top left;
	outline: none;
	text-shadow: 1px 1px 1px #888;
	-moz-box-shadow: 1px 1px 3px #777;
	-webkit-box-shadow: 1px 1px 3px #777;
	box-shadow: 1px 1px 3px #777;
}
.littleBoxes div.boxcontent {
	width: 334px;
	height: 246px;
	text-align: left;
	padding: 10px;
	font-size: 16px;
	background-color: #f0f0f0;
	border: 2px solid #fff;
	margin: 10px 0px 0px 10px;
	text-shadow: 1px 1px 1px #fff;
	-moz-box-shadow: 1px 1px 3px #777;
	-webkit-box-shadow: 1px 1px 3px #777;
	box-shadow: 1px 1px 3px #777;
	opacity: 0.8;
	display: none;
}
.bg1,
.bg2,
.bg3,
.bg4 {
	background-repeat: no-repeat;
}
.bg1 {
	background-image: url(../../img/BoxesGradientAnimationMenu/1.jpg);
}
.bg2 {
	background-image: url(../../img/BoxesGradientAnimationMenu/2.jpg);
}
.bg3 {
	background-image: url(../../img/BoxesGradientAnimationMenu/3.jpg);
}
.bg4 {
	background-image: url(../../img/BoxesGradientAnimationMenu/4.jpg);
}
.bg5 {
	background-image: url(../../img/BoxesGradientAnimationMenu/5.jpg);
}