/**
	作者：1028282161@qq.com[雪地伤孤：java工程师，现在主要以H5开发为主]
	时间：2015-04-04
	个人技术微信：zwb1028282161
	个人技术QQ:1028282161
	个人技术公众账号：zwb_h5c3（关注有更多的前后端技术资料以及源码）
	描述： 个人h5技术demo练习 
 */

* {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
.ad {
	width: 520px;
	height: 280px;
	margin: 100px auto;
	background: #ff0;
	position: relative;
	overflow: hidden;
}
.pic {
	width: 520px;
	height: 280px;
}
.pic ul {
	width: 3640px;
	height: 280px;
	position: absolute;
	top: 0;
	left: -520px;
}
.pic ul li {
	list-style-type: none;
	float: left;
	width: 520px;
	height: 280px;
}
.left,
.right {
	width: 40px;
	height: 40px;
	background: rgba(0, 0, 0, .3);
	color: #fff;
	font-size: 26px;
	;
	line-height: 40px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: 120px;
	cursor: pointer;
}
.left {
	left: 5px;
}
.right {
	right: 5px;
}
.left:hover,
.right:hover {
	background: rgba(0, 0, 0, .7);
}
.but {
	width: 70px;
	height: 12px;
	position: absolute;
	border-radius: 6px;
	left: 225px;
	bottom: 10px;
	background: rgba(255, 255, 255, .5);
}
.but ul li {
	width: 10px;
	height: 10px;
	background: #999;
	border-radius: 5px;
	float: left;
	margin: 1px 2px;
	cursor: pointer;
}
.but .cho {
	background: #FF4400;
}